.device-container {
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info-device {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  /* ?: How to link a variable to it */
  background-image: src("assets/svg/pc-on-unknown.svg");
  background-size: cover;
}
