<div class="device-container">
  <div class="device-top img">
    <img src="{{ info.img }}" alt="device image" />
  </div>

  <div class="device-bottom info">
    <p class="hostname" *ngIf="info.hostname">
      {{ info.hostname }}
    </p>
    <p class="ip" *ngIf="info.ip">
      {{ info.ip }}
    </p>
  </div>
</div>
<img
  src="assets/svg/watchBtn.svg"
  class="btn btn-raised"
  *ngIf="device && !device.watched"
  (click)="watch()"
/>
<img
  src="assets/svg/watchXBtn.svg"
  class="btn btn-raised"
  *ngIf="device && device.watched"
  (click)="unwatch()"
/>
