* {
  font-family: "FreeMono";
  color: #ddd;
  background-color: #333;
}

.device-container {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.info-device {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  font-size: large;
  position: absolute;
  width: 2rem;
  top: 20px;
  left: 20px;
}

.device-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.device-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
