<mat-toolbar color="primary">
  <div>
    <a routerLink="/">
      <img class="logo" src="assets/svg/logo-24px.svg"/>
      netUI
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a routerLink="/">
          <mat-icon class="icon">home</mat-icon>
          <span class="label">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard">
          <mat-icon class="icon">dashboard</mat-icon>
          <span class="label">Dashboard</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
