<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Target:</mat-label>
    <input
      matInput
      placeholder="'192.168.1.0/24' or '192.168.1.x'"
      value="localhost"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Ports:</mat-label>
    <textarea
      matInput
      placeholder="'100' or '100-104' or '100,200-202'"
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="(null)">Scan</button>
</form>
