.dashboard-container {
  background-color: #333;
}

.target-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 85%;

}

#sidebar-button {
  background: none;
  border: none;
}
