* {
  font-family: "FreeMono";
  color: #ddd;
  background-color: #333;
}

.form {
  border: 2px dotted #ddd;
  margin: 50px;
  height: 40vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form input {
  border: 2px dotted #ddd;
}

.form a {
  width: 70px;
}

.simple-scan-container {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #ddd;
}

.side-bar {
  height: 100vh;
  width: 25%;
  border-right-width: 2px;
  border-right-style: dashed;
  border-right-color: #ddd;
}

.content {
  height: 100vh;
  width: 75%;
}

.btn-raised {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
}

.btn {
  border: dotted 1px #ddd;
  font-size: medium;
}
