<div class="simple-scan-container">
  <div class="side-bar">
    <div class="section-title">Options</div>
    <div class="form-container"></div>
  </div>

  <div class="content">
    <sa-spinner-dotted
      [size]="200"
      [thickness]="100"
      [speed]="50"
      color="#ddd"
      *ngIf="spinner && devices.length < 1"
    ></sa-spinner-dotted>
    <div class="section-title">Dashboard</div>

    <div class="list" *ngIf="devices.length > 0">
      <app-scan-result [name]="name" [devices]="devices"></app-scan-result>
    </div>
  </div>
</div>
