<div class="device-container">
  <div *ngIf="device && !device.status; then noStatusBlock"></div>
  <div *ngIf="device && device.status && device.status === 'on'; then onBlock"></div>
  <div *ngIf="device && device.status && device.status === 'off'; then offBlock"></div>
  <div *ngIf="device && device.status && device.status === 'unknown'; then unknownBlock"></div>
  <div *ngIf="device">
    <div class="info-device">
      <div *ngIf="device.hostname">
        <div class="hostname">{{device.hostname}}</div>
      </div>
      <div *ngIf="!device.hostname">
        <div class="hostname">Unknown</div>
      </div>
      <div class="ip4">{{device.ip4}}</div>
      <div *ngIf="device.mac">
        <div class="mac">{{device.mac}}</div>
      </div>
    </div>
  </div>
</div>
<ng-template #noStatusBlock>
  <div class="svg-device">
    <img src="assets/svg/pc-on-blue.svg" alt="device image">
  </div>
</ng-template>
<ng-template #onBlock>
  <div class="svg-device">
    <img src="assets/svg/pc-on-green.svg" alt="device image">
  </div>
</ng-template>
<ng-template #offBlock>
  <div class="svg-device">
    <img src="assets/svg/pc-on-red.svg" alt="device image">
  </div>
</ng-template>
<ng-template #unknownBlock>
  <div class="svg-device">
    <img src="assets/svg/pc-on-unknown.svg" alt="device image">
  </div>
</ng-template>